.hero {
    &.wp-block-columns {
        position: relative;
        overflow-x: hidden;
        align-items: center;
        flex-flow: row nowrap;
        max-height: 100vh;
        @media only screen and (max-width: 991px) {
            flex-flow: column-reverse nowrap;
            justify-content: center;
        }
        @media only screen and (min-width: 992px) {
            padding-right: 0;
        }

        > * {
            @media only screen and (max-width: 991px) {
                margin-bottom: 0;
            }
        }
    }

    &__column {
        @extend %wp-block-column;

        &:first-of-type {
            @media only screen and (max-width: 480px) {
                margin-top: -25%;
            }
        }

        &:last-of-type {
            @extend %wp-block-column--horizontally-center;

            @media only screen and (min-width: 992px) {
                position: absolute;
                z-index: -1;
                right: -25%;
                flex-grow: 1;
            }
            @media only screen and (min-width: 1200px) and (max-width: 1439px) {
                right: -20%;
            }
            @media only screen and (min-width: 1440px) {
                right: 0;
            }
        }
    }

    &__moon {
        margin-bottom: 0;
        @media only screen and (min-width: 992px) {
            transform: translate3d(-5%, 0%, 0);
        }
    }

    &__content-container {
        @extend %title-card__content-container;
    }

    &__subtext {
        @extend %title-card__subtext;
    }
}
