%heading,
.heading {
    /** TODO: Why do we need to add this font-family property again in the theme */
    font-family: $font-family-headings;
    font-weight: 500;
    letter-spacing: 0.10em;
    &.typography--xlarge {
        /**
         * Accommodating for the line-height issue of fonts
         * Pull up the next element.
         **/
        & + * {
            @media only screen and (min-width: 992px) {
                margin-top: -10px;
            }
        }
    }
}
