body.home {
    .hero {
        &__column {
            &:first-of-type {
                overflow: hidden;

                > * {
                    transform: translate3d(-100%, 0, 0);
                    transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                }
            }

            &:last-of-type {
                > * {
                    transform: translate3d(100%, 0, 0);
                    transition: .75s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                }
            }
        }
    }
}

.animations {
    transition: .75s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    &--fade {
        opacity: 0;
        visibility: hidden;
    }
}

.title-card {
    &.in-view {
        .title-card {
            &__image > div:before {
                @media only screen and (min-width: 600px) {
                    transform: translateX(0%) translateZ(0px);
                }
            }
        }
    }
    &__image > div {
        overflow-y: clip;

        &:before {
            @media only screen and (min-width: 600px) {
                transform: translate3d(0, 150%, 0);
                transition: .75s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            }
        }
    }
    &__content-container {
        overflow: hidden;

        > * {
            transform: translate3d(-200%, 0, 0);
            transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
    }

    &__image {
        transform: scale(0.9) translate3d(5%, -5%, 0);
        transition: 1s ease-in-out;
    }
}

