@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Ubuntu

//$font-path: './fonts' !default;

//@font-face {
//    font-family: Ubuntu;
//    src: url('#{$font-path}/Ubuntu-Light.ttf') format('ttf');
//    font-weight: 300;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: Ubuntu;
//    src: url('#{$font-path}/Ubuntu-LightItalic.ttf') format('ttf');
//    font-weight: 300;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: Ubuntu;
//    src: url('#{$font-path}/Ubuntu-Regular.ttf') format('ttf');
//    font-weight: 400;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: Ubuntu;
//    src: url('#{$font-path}/Ubuntu-Italic.ttf') format('ttf');
//    font-weight: 400;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: Ubuntu;
//    src: url('#{$font-path}/Ubuntu-Medium.ttf') format('ttf');
//    font-weight: 600;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: Ubuntu;
//    src: url('#{$font-path}/Ubuntu-MediumItalic.ttf') format('ttf');
//    font-weight: 600;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: Ubuntu;
//    src: url('#{$font-path}/Ubuntu-Bold.ttf') format('ttf');
//    font-weight: 700;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: Ubuntu;
//    src: url('#{$font-path}/Ubuntu-BoldItalic.ttf') format('ttf');
//    font-weight: 700;
//    font-style: italic;
//}
//
//// RobotoCondensed
//
//@font-face {
//    font-family: RobotoCondensed;
//    src: url('#{$font-path}/RobotoCondensed-Light.ttf') format('ttf');
//    font-weight: 300;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: RobotoCondensed;
//    src: url('#{$font-path}/RobotoCondensed-LightItalic.ttf') format('ttf');
//    font-weight: 300;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: RobotoCondensed;
//    src: url('#{$font-path}/RobotoCondensed-Regular.ttf') format('ttf');
//    font-weight: 400;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: RobotoCondensed;
//    src: url('#{$font-path}/RobotoCondensed-Italic.ttf') format('ttf');
//    font-weight: 400;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: RobotoCondensed;
//    src: url('#{$font-path}/RobotoCondensed-Bold.ttf') format('ttf');
//    font-weight: 700;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: RobotoCondensed;
//    src: url('#{$font-path}/RobotoCondensed-BoldItalic.ttf') format('ttf');
//    font-weight: 700;
//    font-style: italic;
//}
//
//// Abril Fatface
//
//@font-face {
//    font-family: AbrilFatface;
//    src: url('#{$font-path}/AbrilFatface-Regular.ttf') format('ttf');
//    font-weight: 400;
//    font-style: normal;
//}
