body {
    /** TODO: Why do we need to add this font-family property again in the theme */
    counter-reset: section;
    font-family: $font-family-base;
    letter-spacing: 1px;

    @extend %body-background;

    .main {
        height: 100vh;
    }

    article > .container-fluid {
        padding: 0;

        > .wp-block-columns {
            &:first-of-type {
                transition: 0.4s ease-in-out;
                padding-right: 0;

                @media only screen and (max-width: 991px) {
                    padding-left: 0;

                    .wp-block-column.wp-block-column--vertically-center {
                        justify-content: flex-start;
                    }
                }

                .title-card {
                    height: 100vh;

                    &__image-container {
                        height: 100%;
                        @media only screen and (max-width: 991px) {
                            margin-bottom: 0;
                        }
                    }

                    &__image {
                        transform: translate3d(0, 0, 0);
                        margin-left: 0;
                        @media only screen and (min-width: 992px) {
                            transform: scale(0.9) translate3d(0%, -5%, 0);
                            margin-left: 30%;
                        }
                        padding-bottom: 0;

                        > div {
                            max-height: 100vh;
                        }
                    }

                    &__content-container {
                        margin-top: -100%;
                        @media only screen and (min-width: 600px) and (max-width: 991px) {
                            position: relative;
                        }
                        @media only screen and (max-width: 991px) {
                            padding-left: var(--global__sizing__layout-spacing--default);
                        }
                        @media only screen and (min-width: 480px) {
                            margin-top: -50%;
                        }
                        @media only screen and (min-width: 768px) {
                            margin-top: -35%;
                        }
                        @media only screen and (min-width: 992px) {
                            margin-top: 0;
                        }
                    }
                }
            }

            &:not(:first-of-type) {
                .title-card {
                    &__image > div {
                        @extend %section-counter;
                    }
                }
            }
        }
    }


    .wrap {
        > .icon {
            width: 100vh;
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            z-index: -1;
        }
    }
}
