%body-background,
.body-background {
    background-image: linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16);
    background-attachment: fixed;
}

%container-padding,
.container-padding {
    padding-left: var(--global__sizing__layout-spacing--default);
    padding-right: var(--global__sizing__layout-spacing--default);
    @media only screen and (min-width: 992px) {
        padding-left: calc(var(--global__sizing__layout-spacing--double) * 1.25);
        padding-right: var(--global__sizing__layout-spacing--double);
    }
    @media only screen and (min-width: 1200px) {
        padding-left: calc(var(--global__sizing__layout-spacing--double) * 2);
    }
    /** TODO: create breakpoint system with breakpoint variables */
    @media only screen and (min-width: 2000px) {
        padding-left: calc(var(--global__sizing__layout-spacing--double) * 4);
    }
}

%section-counter,
.section-counter {
    &:before {
        @extend %text--emphasis;
        @media only screen and (min-width: 600px) {
            font-size: 8rem;
            counter-increment: section;
            content: '0' counter(section);
            z-index: 1;
            position: absolute;
            right: calc(var(--global__sizing__layout-spacing--default) * -1.25);
            bottom: 10%;
        }
        @media only screen and (min-width: 2000px) {
            font-size: 15rem;
        }
    }
}
/** TODO: move to Ishtar */
%text,
.text {
    &--uppercase {
        text-transform: uppercase;
    }

    &--lowercase {
        text-transform: lowercase;
    }

    &--bold {
        font-weight: 700;
    }

    &--weightless {
        font-weight: 400;
    }

    &--centered {
        text-align: center;
    }

    &--primary {
        color: color-var(--global__colors__primary);
    }

    //

    &--emphasis {
        font-family: $font-family-emphasis;
    }
}

//.heading--with-gif {
//    img {
//        border-radius: 9999px;
//        background: color-var(--global__colors__white);
//        width: 35px;
//        height: 35px;
//        margin-right: 0.35rem;
//        @media only screen and (min-width: 992px) {
//            margin-right: 0.5rem;
//            width: 82px;
//            height: 82px;
//        }
//    }
//}
