body.home {
    .scrolldown-bar {
        @media only screen and (max-width: 991px) {
            left: 22px;
            right: unset;
        }
    }
    .title-card {
        &__image > div {
            @extend %section-counter;
        }
    }
}

