.single-project {
    //.wp-block-columns:not(#page-hero) {
    //    @media only screen and (min-width: 992px) {
    //        padding-left: var(--global__sizing__layout-spacing--double);
    //    }
    //}

    .wp-block-columns:nth-last-of-type(-n+2) {
        @media only screen and (min-width: 992px) {
            padding-left: var(--global__sizing__layout-spacing--double);
        }
    }

    #project-attributes {
        position: relative;
        @media only screen and (min-width: 600px) and (max-width: 767px) {
            flex-flow: column nowrap;
        }
        > .wp-block-column {
            position: static;
            &:first-of-type {
                img {
                    max-width: 250px;
                    margin: auto auto auto 0;
                    @media only screen and (min-width: 1200px) {
                        max-width: 350px;
                    }
                    @media only screen and (min-width: 2000px) {
                        max-width: 500px;
                    }
                }
            }
            @media only screen and (min-width: 600px) and (max-width: 1199px) {
                margin-bottom: var(--global__sizing__layout-spacing--half);
                &:nth-child(2n) {
                    margin-left: 0;
                }
            }
            @media only screen and (min-width: 1200px) {
                &:first-child {
                    flex-basis: calc(40% - 2em);
                    width: calc(40% - 2em);
                }
                &:last-child {
                    flex-basis: calc(60% - 2em);
                    width: calc(60% - 2em);
                }
            }
        }
    }

    #project-concept,
    #project-development {
        position: relative;
        @media only screen and (min-width: 600px) and (max-width: 1439px) {
            flex-flow: column nowrap;
        }
        > .wp-block-column {
            position: static;
            @media only screen and (min-width: 600px) and (max-width: 1439px) {
                margin-bottom: var(--global__sizing__layout-spacing--half);
                &:nth-child(2n) {
                    margin-left: 0;
                }
            }
            @media only screen and (min-width: 1440px) {
                &:first-child {
                    flex-basis: calc(40% - 2em);
                    width: calc(40% - 2em);
                }
                &:last-child {
                    flex-basis: calc(60% - 2em);
                    width: calc(60% - 2em);
                }
            }
        }
        h2.typography--large {
            > span {
                position: relative;
                line-height: 1;
                margin-right: 10px;
                @media only screen and (min-width: 600px) {
                    padding-left: 3rem;
                }
                &:before {
                    content: "";
                    width: 2.4rem;
                    height: 2px;
                    background: color-var(--global__colors__black);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    display: none;
                    @media only screen and (min-width: 600px) {
                        display: block;
                    }
                }
            }
        }
    }
    #development-images {
        @media only screen and (max-width: 767px) {
            flex-flow: column nowrap;
            > * {
                margin-left: 0;
                margin-bottom: var(--global__sizing__layout-spacing--half);
            }
        }
        img {
            width: 100%;
        }
    }
}
