// We need to override this variable since this file gets called from a different context than main.scss
//$font-path: '../fonts';
$image-path: '../images';

.editor-styles-wrapper {
    counter-reset: section;
    @import '../main';

    .block-editor-block-list__layout {
        .title-card {
            &__image > div {
                @extend %section-counter;
            }
        }
        &.is-root-container {
            @extend %body-background;
            // Change color of block appender due to our background change above
            .block-editor-button-block-appender {
                box-shadow: inset 0 0 0 1px color-var(--global__colors__white);
                color: color-var(--global__colors__white);
            }
        }
    }

    // TODO: Maybe this can be moved to ISHTAR
    .block-editor-block-list__block {
        margin-top: 0;
    }

    .hero {
        &__column:last-child {
            z-index: 0;
        }
    }

    @import './components/wp-block';
}
