.bar-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    padding: 0 var(--global__sizing__layout-spacing--default);
    align-items: flex-end;
    @media only screen and (max-width: 991px) {
        justify-content: center;
        right: 0;
        padding-bottom: var(--global__sizing__layout-spacing--half);
    }
    @media only screen and (min-width: 992px) {
        top: 0;
        align-items: center;
    }

    &__list {
        @extend %list--unstyled;

        @media only screen and (max-width: 991px) {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            > * {
                //margin-left: var(--global__sizing__layout-spacing--half);
                //margin-right: var(--global__sizing__layout-spacing--half);
                margin-left: var(--global__sizing__layout-spacing--quarter);
                margin-right: var(--global__sizing__layout-spacing--quarter);

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        @media only screen and (min-width: 992px) {
            > * {
                margin-bottom: var(--global__sizing__layout-spacing--default);

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__list-item {
        &--active {
            .bar-menu__line {
                @media only screen and (max-width: 991px) {
                    height: 3rem;
                }
                @media only screen and (min-width: 992px) {
                    width: 4rem;
                }
            }
        }
    }

    &__line {
        cursor: pointer;
        margin: 0;
        outline: none;
        border: 0;
        background: color-var(--global__colors__white);
        transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        @media only screen and (max-width: 991px) {
            height: 1.5rem;
            width: 2px;
        }
        @media only screen and (min-width: 992px) {
            height: 3px;
            width: 2rem;
        }
    }
}
