.curtain {
    background: color-var(--global__colors__black);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    righT: 0;
    bottom: 0;
    transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 999;
}
