.divider {
    > * {
        margin-bottom: var(--global__sizing__layout-spacing--quarter);
        @media only screen and (min-width: 992px) {
            margin-bottom: var(--global__sizing__layout-spacing--half);
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__line {
        margin-top: 0;
        background: #ff4d5a;
        outline: none;
        border: none;
        border-radius: 4px;
        margin-left: 0;
        width: 4rem;
        height: 4px;
        &:last-child {
            margin-left: 2rem;
        }

        @media only screen and (min-width: 992px) {
            width: 8rem;
            //height: 4px;
            &:last-child {
                margin-left: 4rem;
            }
        }
    }
}
