.header-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: color-var(--global__colors__white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--global__sizing__layout-spacing--half);
    z-index: 1;
    background-color: transparent;
    transition: .75s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    @media only screen and (min-width: 992px) {
        padding: var(--global__sizing__layout-spacing--default);
    }
    > * {
        margin-bottom: 0;
    }
    &__heading {
        display: inline-flex;
        align-items: center;
        a {
            text-decoration: none;
        }
    }
    &__details {
        display: flex;
        align-items: center;
        > * {
            margin-left: var(--global__sizing__layout-spacing--quarter);
            margin-right: var(--global__sizing__layout-spacing--quarter);
            @media only screen and (min-width: 992px) {
                margin-left: var(--global__sizing__layout-spacing--half);
                margin-right: var(--global__sizing__layout-spacing--half);
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__list {
        > li {
            display: flex;
            margin-bottom: 0;
            &:not(:last-of-type) {
                @media only screen and (max-width: 991px) {
                    display: none;
                }
            }
            &.has-sub-menu {
                > ul {
                    background-color: color-var(--global__colors__secondary, 0.5);
                    @media only screen and (max-width: 991px) {
                        top: calc(var(--global__sizing__layout-spacing--half) * 1.5);
                    }
                }
            }
        }
        &.is-style-inline {
            > * {
                margin-left: var(--global__sizing__text-spacing--quarter);
                margin-right: var(--global__sizing__text-spacing--quarter);
                @media only screen and (min-width: 992px) {
                    margin-left: var(--global__sizing__text-spacing--default);
                    margin-right: var(--global__sizing__text-spacing--default);
                }
            }
        }
    }
    &__sub-menu {
        min-width: 85px;
        font-size: 14px;
        @media only screen and (min-width: 768px) {
            font-size: 18px;
        }
        > li {
            margin-bottom: var(--global__sizing__layout-spacing--quarter);
            &:last-child {
                margin-bottom: 0;
            }
            > a {
                text-decoration: none;
            }
        }
    }
    &--scrolling {
        background-color: color-var(--global__colors__secondary, .5);
    }
}
