.moon {
    position: relative;
    display: flex;

    &__layer {
        display: flex;
        border-radius: 50%;
        padding: calc(var(--global__sizing__layout-spacing--half));
        @media only screen and (min-width: 992px) {
            padding: calc(var(--global__sizing__layout-spacing--default) * .75);
        }
        @media only screen and (min-width: 2000px) {
            padding: var(--global__sizing__layout-spacing--double);
        }

        &:first-of-type {
            background: color-var(--global__colors__white, 0.30);
        }

        &:nth-of-type(2) {
            background: color-var(--global__colors__white, 0.25);
        }

        &:nth-of-type(3) {
            background: color-var(--global__colors__white, 0.20);
        }

        &:nth-of-type(4) {
            background: color-var(--global__colors__white, 0.15);
        }

        &:nth-of-type(5) {
            background: color-var(--global__colors__white, 0.10);
        }

        &:last-of-type {
            position: relative;
            background: color-var(--global__colors__white, 0.05);
        }
    }

    &__center {
        background-repeat: no-repeat;
        background-color: color-var(--global__colors__white);
        background-position: top;
        background-size: cover;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        @media only screen and (min-width: 600px) {
            width: 350px;
            height: 350px;
        }
        @media only screen and (min-width: 1200px) {
            width: 500px;
            height: 500px;
        }
        @media only screen and (min-width: 2200px) {
            width: 650px;
            height: 650px;
        }
    }

    // TODO: Fix the title
    // TODO: something going on with fluid-value-set for tablet breakpoints, no font size is being applied
    h2.moon__title {
        font-size: 2rem;
        @media only screen and (min-width: 992px) {
            font-size: 3.5rem;
        }
    }

    &__title {
        color: color-var(--global__colors__primary);
        margin: 0;
        position: absolute;
        top: 50%;
        left: 0;
        font-weight: bold;
    }
}
