.pokemon-card-filters {
    &__container {
        display: flex;
        flex-flow: column nowrap;
        @media only screen and (min-width: 1200px) {
            flex-flow: row nowrap;
        }
        > * {
            flex-basis: 100%;
            width: 100%;
            margin-bottom: var(--global__sizing__layout-spacing--half);
            &:last-child {
                margin-bottom: 0;
            }
            @media only screen and (min-width: 1200px) {
                flex-basis: 50%;
                width: 50%;
                margin-bottom: 0;
                margin-left: var(--global__sizing__layout-spacing--half);
                margin-right: var(--global__sizing__layout-spacing--half);
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &__content-container {
        position: relative;
        @media only screen and (min-width: 1200px) {
            flex-basis: 35%;
            width: 35%;
        }
    }
    &__filters-container {
        flex: 1 0 auto;
    }
    &__filters-inner {
        > * {
            margin-bottom: var(--global__sizing__layout-spacing--default);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__filters {
        display: flex;
        flex-flow: column nowrap;
        @media only screen and (min-width: 768px) {
            flex-flow: row nowrap;
        }
        > *  {
            margin-bottom: var(--global__sizing__layout-spacing--half);
            &:last-child {
                margin-bottom: 0;
            }
            @media only screen and (min-width: 768px) {
                margin-bottom: 0;
                margin-left: var(--global__sizing__layout-spacing--half);
                margin-right: var(--global__sizing__layout-spacing--half);
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &__filter {
        min-width: 200px;
        > * {
            margin-bottom: 0;
        }
        label {
            display: none;
        }
        &:first-of-type .pokemon-card-filters__select {
            background-image: url('#{$image-path}/gifs/vaporeon.gif');
        }
        &:nth-of-type(2) .pokemon-card-filters__select {
            background-image: url('#{$image-path}/gifs/jolteon.gif');
        }
        &:last-of-type .pokemon-card-filters__input {
            background-image: url('#{$image-path}/gifs/flareon.gif');
        }
    }
    &__select {
        padding: 0;
    }
    &__input {
        padding: 0 50px 0 0;
    }
    &__select,
    &__input {
        background-color: transparent;
        width: 100%;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        min-height: 42px;
        border-width: 1px;
        border-style: solid;
        border-top: none;
        border-left: none;
        border-right: none;
        font-family: $font-family-base;
        background-position: 98% 100%;
        background-size: contain;
        background-repeat: no-repeat;
        @media only screen and (min-width: 992px) {
            font-size: 16px;
        }
        @media only screen and (min-width: 1200px) {
            font-size: 18px;
            min-width: 250px;
        }
    }
    &__cards {
        display: flex;
        flex-flow: row wrap;
        > .pokemon-card {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            @media only screen and (min-width: 1200px) {
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
    &__pagination {
        @media only screen and (max-width: 1199px) {
            justify-content: center;
        }
        .wp-block-button__link {
            @extend %button;
            background-color: color-var(--global__colors__primary);
            color: color-var(--global__colors__white);
            border-radius: 50px;
        }
    }
}
