.primary-navigation {
    background: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //z-index: -1;
    transform: translate3d(0, -100%, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    a {
        text-decoration: none;
    }
    &__list {
        @extend %list--unstyled;
        li {
            margin-bottom: var(--global__sizing__layout-spacing--default);
            &:last-child {
                margin-bottom: 0;
            }
            > * {
                margin-bottom: 0;
            }
        }
    }
    &--active {
        transform: translate3d(0, 0, 0);
        //top: 0;
    }
}
