.project-card {
    &__image-container {
        display: flex;
        justify-content: flex-end;
    }

    &__image {
        position: relative;
        padding-bottom: 56.25%;
        display: block;
        width: 100%;
        height: 100%;
        margin-left: 40%;
        > div {
            margin: auto;
            /** TODO: get rem equivalents */
            min-height: 600px;
            max-height: 1200px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &__content-container {
        @extend %wp-block-column;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        /** TODO: start baking out flex helpers **/
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    &__button {
        /** TODO: get rem equivalent */
        border-radius: 50px;
    }
}
