.scrolldown-bar {
    position: fixed;
    @media only screen and (min-width: 2200px) {
        font-size: 1.4rem;
    }
    // TODO: Convert px to rem
    bottom: 80px;
    right: 22px;
    left: unset;
    @media only screen and (min-width: 992px) {
        right: unset;
        left: 22px;
    }
    line-height: 1;
    letter-spacing: 0.3em;
    writing-mode: vertical-rl;
    color: #fff;
    z-index: 100;
    transition: 0.4s ease-in-out;
    opacity: 1;
    visibility: visible;
    display: none;
    @media only screen and (min-width: 600px) {
        display: block;
    }
    &:after {
        content: "";
        width: 2px;
        height: 64px;
        background: #fff;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        // TODO: Convert px to rem
        bottom: -80px;
    }
    &--hide {
        opacity: 0;
        visibility: hidden;
    }
}
