%title-card,
.title-card {
    @extend %wp-block-columns;
    transition: 0.4s ease-in-out;
    display: block;

    &__subtext {
        > * {
            margin-bottom: var(--global__sizing__layout-spacing--half);
            @media only screen and (min-width: 992px) {
                margin-bottom: var(--global__sizing__layout-spacing--default);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            text-decoration: none;
        }
    }

    &__image-container {
        display: flex;
        justify-content: flex-end;
        transition: 0.4s ease-in-out;
    }

    &__image {
        transition: 0.4s ease-in-out;
        position: relative;
        padding-bottom: 100%;
        display: block;
        width: 100%;
        height: 100%;
        @media only screen and (min-width: 600px) {
            margin-left: 40%;
        }
        @media only screen and (min-width: 1200px) {
            padding-bottom: 56.25%;
        }

        > div {
            transition: 0.4s ease-in-out;
            margin: auto;
            /** TODO: get rem equivalents */
            max-height: 1200px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            @media only screen and (min-width: 600px) {
                min-height: 600px;
            }
        }
    }

    &__content-container {
        @extend %wp-block-column;
        /** TODO: start baking out flex helpers */
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        @media only screen and (min-width: 600px) {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
    }
}

.wp-block-columns--full-height:first-of-type {
    .title-card__content-container {
        @media only screen and (max-width: 991px) {
            background-color: color-var(--global__colors__black, .5);
            padding-top: var(--global__sizing__layout-spacing--half);
            padding-bottom: var(--global__sizing__layout-spacing--half);
        }
    }
}
