.wp-block-columns {
    //&--full-height {
    //    margin-bottom: 0;
    //}
    //&:not(.wp-block-columns--full-height) {
    //    margin-bottom: var(--global__sizing__layout-spacing--default);
    //    @media only screen and (min-width: 992px) {
    //        margin-bottom: var(--global__sizing__layout-spacing--double);
    //    }
    //    &:last-child {
    //        margin-bottom: 0;
    //    }
    //}
    &:not(.wp-block-columns--narrow) {
        @extend %container-padding;
    }
    &--narrow {
        padding-left: var(--global__sizing__layout-spacing--default);
        padding-right: var(--global__sizing__layout-spacing--default);
    }
    &--has-bg {
        padding-top: var(--global__sizing__layout-spacing--default);
        padding-bottom: var(--global__sizing__layout-spacing--default);
        @media only screen and (min-width: 768px) {
            padding-top: var(--global__sizing__layout-spacing--double);
            padding-bottom: var(--global__sizing__layout-spacing--double);
        }
        &.wp-block-columns--white {
            background-color: color-var(--global__colors__white);
            color: color-var(--global__colors__black);
        }
    }
    //&--half-height {
    //
    //}
}
